name: Build PixelmonStoneDrops

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup JDK 17
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Grant execute permission
      run: chmod +x gradlew

    - name: Build mod
      run: ./gradlew build

    - name: Upload JAR
      uses: actions/upload-artifact@v4
      with:
        name: PixelmonStoneDrops-JAR
        path: build/libs/*.jar
